<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
       http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop     
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
      <bean id="audience" class="Spring.AOP.Audience" />
<aop:config>
        <aop:aspect ref="audience"><!-- 引用audience Bean -->
            <!-- 声明切入点 -->
            <aop:pointcut id="performance"
                expression="execution(* Spring.AOP.Performer.perform(..))" />
            <!-- 表演之前 -->
            <aop:before pointcut-ref="performance" method="takeSeats" />
            <aop:before pointcut-ref="performance" method="turnOffCellPhones" />
            <!-- 表演之后 -->
            <aop:after-returning pointcut-ref="performance"
                method="applaud" />
            <!-- 表演失败之后 -->
            <aop:after-throwing pointcut-ref="performance"
                method="demandRefund" />
        </aop:aspect>
    </aop:config>
    
     <aop:aspectj-autoproxy/>  
    <bean id="user" class="Spring.AOP.UserImpl"/>  
    <bean id="check" class="Spring.AOP.intercepter.CheckUser"/>  
      
    <!--  <aop:config>  
        <aop:pointcut id="find" expression="execution(* com.jushi.aop.*.find*(..))" />  
        <aop:pointcut id="add"   expression="execution(* com.jushi.aop.*.add*(..))" />  
          
        <aop:aspect id="checkUser" ref="check">  
            <aop:before method="beforeCheck" pointcut-ref="find"/>  
            <aop:after method="afterCheck" pointcut-ref="find"/>  
        </aop:aspect>  
          
        <aop:aspect id="checkAdd" ref="check">  
            <aop:before method="beforeAdd" pointcut-ref="add"/>  
            <aop:after method="afterAdd" pointcut-ref="add"/>  
        </aop:aspect>  
      
    </aop:config>-->  
    </beans>